html, body {
    position: relative;
    height: 5089px;
    background-color: #214774;
    background: linear-gradient(#214774 0%, #2d3a2d 100%);
}


.bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -59%);
    width: 120vw;
    height: 6197px;
    position: relative;
    background: url(../images/promotion1.jpg);
    background-size: cover;
    -webkit-filter: blur(30px); 
    -moz-filter: blur(30px); 
    -o-filter: blur(30px); 
    -ms-filter: blur(30px); 
    filter: blur(30px);
    opacity: 0.3;
}

.promotion{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

